[submodule "sw-ui"]
	path = sw-ui
	url = https://github.com/commnerd/sw-ui.git
[submodule "sw-api"]
	path = sw-api
	url = https://github.com/commnerd/sw-api.git
[submodule "instance-defs/debian"]
	path = instance-defs/debian
	url = https://github.com/commnerd/sw-intance-debian.git
