<layout-standard>
    <h1>Retrieve Password</h1>
    <form [formGroup]="retrievePasswordForm">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Your email address is only used as identification in our system.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</layout-standard>
