<nav class="navbar navbar-expand-lg navbar-light bg-light row">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
          <img class="img-responsive" src="assets/spiderweb.jpg"/>
      </span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <app-link [route]="['/']">Home</app-link>
        </li>    
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <app-link [route]="['/register']">Register</app-link>
        </li>
        <li class="nav-item">
          <app-link [route]="['/login']">Login</app-link>
        </li>
      </ul>
    </div>
  </nav>